@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="hero-banner" style="background-color:orange">
            <div class="container">
            <h1 class="hero-unit">@Model.ArticleTitle</h1>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="background" style="background-color:black">
            <div class="container blackground">
           @Model.ArticleContent
            </div>
        </div>

    </div>
</div>
   <div class="show-articles-background">
            <div class="container">
            @Html.GetGridHtml(Model, "gridFullWidth")
   
    </div>
</div>


  