@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="hero-banner" style="background-color:orange">
            <div class="container">
            <h1 class="hero-unit">@Model.SiteTitle</h1>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="background" style="background-color:black">
            <div class="container blackground">
            @Model.MainContent
            </div>
        </div>

    </div>
</div>

<div class="row">
      <div class="col-md-12">
          <div class="background" style="background-color:orange">
             <div class="container">
             @Umbraco.RenderMacro("listNewestProjects")    
             
            </div>
        </div>
</div>

  
