@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{ 
var selection = Model.Content.Root().FirstChildOfType("projectsOverview").Children.Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed").Take(5).ToArray(); 
    

    
}

@if (selection.Length > 0)
{
<h3>Newest Projects</h3>
    <ul class="navbar-nav">
        @foreach (var item in selection)
        {
   	<li>
    			<article class="col-md-12" >
                <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
                <div class="articlepreview">@Html.Raw(item.Value("projectDescription").ToString().Truncate(100)) <a href="@item.Url">Read More..</a></div>
                </article>
    		</li>
        }
    </ul>
}